In [1]:
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request #importing libraries
import numpy as np 
import pandas as pd

In [2]:
# retrieving data from site_url
site_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(site_url)
BSoup = bs.BeautifulSoup(res.content,'lxml')
table = BSoup.find_all('table')[0]
df = pd.read_html(str(table))
data = pd.read_json(df[0].to_json(orient='records'))

In [3]:
data.head() # head rows

            Borough               Neighborhood Postal Code
0      Not assigned                       None         M1A
1      Not assigned                       None         M2A
2        North York                  Parkwoods         M3A
3        North York           Victoria Village         M4A
4  Downtown Toronto  Regent Park, Harbourfront         M5A

In [4]:
data_selected = data[data['Borough'] != 'Not assigned'] # selecting data

In [6]:
data_selected = data_selected.groupby(['Borough', 'Postal Code'], as_index=False).agg(','.join) # Grouping data

In [7]:
data_selected.head()

           Borough Postal Code                       Neighborhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

In [8]:
data_selected['Neighborhood'] = np.where(data_selected['Neighborhood'] == 'Not assigned', data_selected['Borough'], data_selected['Neighborhood']) #data_selected['Neighborhood'] = np.where(data_selected['Neighborhood'] == 'Not assigned', data_selected['Borough'], data_selected['Neighborhood']) #

In [9]:
data_selected.head()

           Borough Postal Code                       Neighborhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

In [10]:
data_selected.shape # shape of the data

(103, 3)

<h1>By Sudhamshu B N</h1>